*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 995px;
}

.brand p{
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.brand{
    position: relative;
    top: 9px;
    left: 25px;
}

.title{
    position: absolute;
    z-index: 3;
    top: 370px;
    left: 92px;
}

.title h1{
    color: #888;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 104.8%;
    letter-spacing: 4.8px;

    z-index: 2;
}

.firstview img{
    height: 1024px;
    position: relative;
    top: -25px;
    left: 256px;
    z-index: 1;

}

.second-title{
    position: absolute;
    z-index: 3;
    top: 800px;
    left: 83%;
    color: #888888;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.84px;
    text-align: right;
}

.second-title h2{
    font-size: 28px;
    line-height: 104.8%;
    letter-spacing: 1.68px;
}

.second-title p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.second-title h3{
    font-size: 14px;
}

.greeting{
    text-align: center;
    background-color: #142473;
    height: 742px;
}

.greeting-text{
    padding: 213px 27.7% 173px 28.8%;
}

.greeting-text h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 5.04px;
}

.greeting-text h2{
    color: #D88555;
    font-size: 20px;
    letter-spacing: 1.3px;
    margin-bottom: 14px;
}

.greeting-text h3{
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1.3px;
    margin-bottom: 40px;
}

.greeting-text p{
    text-align: left;
    color: #D8D8D8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.68px;
    padding-left: 15%;
}

.greeting img{
    width: 100%;
}

.programs{
    display: flex;
}

.program1{
    margin-top: 61px;
    margin-left: 80px;
}

.program2{
    margin-top: 160px;
}

.photo{
    width: 299px;
    height: 408px;
    border-radius: 31px;
    background: #D9D9D9;
    margin-left: 101px;
}

.text-box{
    width: 300px;
    height: 95px;
    z-index: 2;
    border-radius: 31px;
    padding-left: 42px;
    padding-top: 42px;
    background-color: #fff;
    position: relative;
    top: -48px;
    left: 59px;
}

.text-box p{
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.text-box h1{
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.program-text{
    margin-left: 66px;
    margin-top: 167px;
}

.program-text h2{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.26px;
    padding-left: 175px;
}

.program-text h1{
    color: #142473;
    font-size: 100px;
    letter-spacing: 7px;
}

.program-text p{
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 250%;
    padding-top: 48px;
}

.profile-title{
    text-align: center;
}

.profile h1{
    color: #333;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-top: 106px;
}

.profile h2{
    color: #333;
    font-family: Noto Sans JP;
    font-size: 12px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 1.2px;
    margin-top: -8px;
}

.profile h3{
    color: #142473;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.64px;
    margin-top: 30px;
}

.profile-main{
    display: flex;
    margin-top: 46px;
}

.profile-photos{
    margin-left: 211px;
    padding-top: 57px;
    padding-right: 200px;
}

.back-photo{
    width: 492px;
    height: 332px;
    background-color: #eaeaea;
    transform: rotate(-13.253deg);
}

.front-photo{
    width: 492px;
    height: 332px;
    background: #D9D9D9;
    position: relative;
    left: 45px;
    top: -280px;
}

.profile-text h4{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 0.6px;
    margin-bottom: 13px;
}

.profile-text p{
    width: 580px;
    margin-bottom: 45px;
}

.company-text{
    margin-left: 387px;
    margin-top: 68px;
    position: absolute;
    z-index: 2;
}

.company-text h1{
    color: #333;
    font-size: 48px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 15.84px;
}

.company-text p{
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 3.12px;
    margin-top: 9px;
}

.company-photo{
    width: 1120px;
    height: 299px;
    background-color: #f8f8f8;
    position: relative;
    left: 35%;
}

.about h1{
    color: #333;
    font-size: 30px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 9.15px;
    margin-top: 117px;
    margin-left: 289px;
}

.about p{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 4.95px;
    margin-left: 289px;
}

.about table{
    margin-top: 41px;
    margin-left: 289px;
    margin-bottom: 53px;
    width: 66%;
    border-spacing: 0;
}


.about td{
    border-bottom: 1px solid #333;
    padding-top: 25px;
    padding-bottom: 29px;
}

.about table tr td:nth-of-type(1){
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 197.3%;
    letter-spacing: 4.4px;
}

.about table tr td:nth-of-type(2){
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 197.3%;
    letter-spacing: 1.68px;
}

footer{
    background-color: #F1F2F4;
}

.footer-main{
    display: flex;
}

.footer-main h1{
    color: #333;
    font-size: 24px;
    font-weight: 700;
    margin-top: 17px;
    margin-left: 52px;
}

.footer-main table{
    width: 60%;
    margin-top: 24px;
    margin-left: 350px;
}

.footer-main tr td{
    color: #333;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.96px;
    padding-bottom: 13px;
}

.sns{
    margin-left: 52px;
    display: flex;
}

.sns img{
    width: 28px;
    height: 28px;
    margin-right: 15px;
    margin-bottom: 32px;
}

.last{
    display: flex;
    padding-bottom: 24px;
    margin-left: 52px;
}

.last p{
    color: #333;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.96px;
    margin-right: 10px;
}